/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

/* BODY */

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

header {
  width: 100%;
  height: 60px;
  background-color: rgb(227, 240, 238);
  position: fixed;
}

h1 {
  margin: none;
}

.logocor {
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(0, 195, 255);
  border: 1px solid;
  border-image: linear-gradient(to right, rgb(0, 238, 255), rgb(0, 102, 255));
  border-image-slice: 1;
  margin-right: 5px;
  filter: drop-shadow(0 0 0.75rem rgb(0, 247, 255));
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.nav-content img {
  width: 10%;
  border-radius: 50%;
}

.nav-content ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 60px;
}

.nav-content a {
  text-decoration: none;
  color: rgb(0, 106, 192);
}

.item-list a {
  font-size: 14px;
}

.menu {
  text-transform: uppercase;
  padding: 5px 10px;
  border: none;
  background-color: rgb(0, 102, 255);
  color: white;
  cursor: pointer;
  border-radius: 20px;
  display: none;
}

.menu:hover {
  background-color: rgb(2, 120, 255);
  border-radius: 5px;
  transition: 0.4s;
}

/* INICIO */

#inicio {
  width: 100%;
  height: 60vh;
  background-color: rgb(227, 240, 238);
  background-image: url(../img/wave.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 20%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

#inicio::before {
  position: absolute;
  bottom: 0;
  left: 0;
}

.inicio__nome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inicio__nome h1 {
  color: rgb(2, 120, 255);
  margin: 0;
}

.inicio__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inicio__logo img {
  width: 250px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

/* SOBRE */

#sobre {
  margin: 10vh auto;
  max-width: 60%;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.sobre__foto {
  display: flex;
  justify-content: center;
}

.sobre__desc {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sobre__foto img {
  border-radius: 50%;
  width: 15%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.sobre__desc p {
  max-width: 50%;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
}

.sobre__desc p:hover {
  background-color: rgb(85, 169, 248);
}

.sobre__desc p:hover > a {
  color: rgb(219, 250, 255);
}

.p1 a {
  text-decoration: none;
  color: #202020;
}

.sobre__desc h1 {
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(0, 102, 255);
}

/* PROJETOS */

#projetos {
  margin-top: -20vh;
  width: 100%;
  height: 100vh;
}

/* BOTÃO SOBE TOPO */

#Btn_topo {
  display: flex;
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

#Btn_topo a {
  text-decoration: none;
  color: white;
}

/* PROJETOS */

#projetos {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: darkturquoise;
}

.none {
  display: none;
}

.projetos_container {
  display: flex;
  margin: 0 auto;
  background-color: #202020;
  width: 50%;
  height: 75vh;
  border-radius: 20px 0px 0px 20px;
  overflow: hidden;
}

.projetos_lateral {
  width: 5%;
  height: 50%;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 15px 0px 15px 0;
  align-items: center;
  gap: 10px;
}

.projetos_lateral img {
  margin-top: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.projetos_central {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.projetos_central h1 {
  text-align: center;
}

.projetos_central iframe {
  width: 100%;
}

.portfolio {
  display: none;
  max-width: 97%;
}

.videos {
  display: none;
}

.calc {
  display: none;
}

.projeto_todo {
  display: none;
}
